<div id="<%= dom_id link %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= link.name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Url:</strong>
    <%= link.url %>
  </p>
</div>
