<<div class="min-h-screen w-full flex object-cover fixed top-0 z-[-1]">
  <% if @background_image && @background_image.image.attached? %>
    <%= image_tag @background_image.image, class: "w-full h-auto brightness-40" %>
    <% else %>
    <p>No background image available.</p>
  <% end %>
</div>