<div class="min-h-screen lg:mt-24 lg:py-8 mx-12 flex w-full lg:px-36 gap-4 flex-col justify-center items-center">  
<% if @links.any? %>
     <% @links.each do |link| %>
      <%= render link %>
    <% end %>
<% else %>
<h1></h1>
<% end %>

</div>