
<div class="min-h-screen mt-24 py-8 mx-12 rounded-lg flex w-full px-36 bg-white gap-4 flex-col justify-center items-center">  
    <h1 class="text-5xl mb-8 font-[Orbitron]">Upcoming Shows</h1>
<% if @shows.any? %>
     <% @shows.sort_by(&:date).each do |show| %>
      <%= render show %>
    <% end %>
<% else %>
<h1>No upcoming shows!</h1>
<% end %>

</div>